body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f4f6;
}

/* HEADER */
.topbar {
    background: #111827;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 18px;
    font-weight: bold;
}

.topbar nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

.topbar nav a:hover {
    text-decoration: underline;
}

.logout {
    color: #f87171;
}

/* CONTENT */
.page-content {
    width: 90%;
    margin: 30px auto;
    background: white;
    padding: 30px;
}

.subtext {
    color: gray;
}

/* ANNOUNCEMENTS */
.announcement-list {
    margin-top: 20px;
}

.announcement-card {
    border-left: 5px solid #f59e0b;
    padding: 15px;
    margin-bottom: 15px;
    background: #fafafa;
    transition: 0.3s;
}

.announcement-card:hover {
    background: #fffbeb;
    transform: translateX(5px);
}

.announcement-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.announcement-text {
    font-size: 14px;
    margin-bottom: 5px;
}

.announcement-date {
    font-size: 12px;
    color: gray;
}
