body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f4f6;
}

/* HEADER */
.topbar {
    background: #111827;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 18px;
    font-weight: bold;
}

.topbar nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

.topbar nav a:hover {
    text-decoration: underline;
}

.logout {
    color: #f87171;
}

/* CONTENT */
.page-content {
    width: 90%;
    margin: 30px auto;
    background: white;
    padding: 30px;
}

.subtext {
    color: gray;
}

/* GRID */
.sources-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

/* CARDS */
.source-card {
    background: #fafafa;
    border-left: 5px solid #2563eb;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-size: 14px;
}

.source-card:hover {
    background: #eff6ff;
    transform: translateX(5px);
}
